.booking-container h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.admin-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20% 20%;
}
.admin-container h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 30px;
  border-radius: 20px;
  font-weight: 600;
}
